{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc.{js,cjs}"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "import/order": [
      1,
      {
        "groups": [
          "builtin", // Node.js built-in modules
          "external", // Packages
          "internal", // Aliased modules
          "unknown", // Undetermined (probably aliased)
          "parent", // Relative parent
          "sibling", // Relative sibling
          "index", // Relative index
          "object" // TypeScript "object" imports
        ],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/**",
            "group": "internal"
          },
          {
            "pattern": "@*/*",
            "group": "external"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  }
}
